<div class="row">
    <div class="col-12">
        <div class="p-2">
            <ngx-charts-bar-horizontal
                [view]="view"
                [scheme]="colorScheme"
                [results]="chartData"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
            </ngx-charts-bar-horizontal>
        </div>
    </div>
</div>