<div class="profile">
    <div class="card bg-light mb-3">
        <div class="card-body text-center">
            <img src="../../assets/profile.png" />
            <h5 class="card-title">{{profile.name}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="px-2"><b>Saldo: </b> {{profile.saldo}}</p>
            <p class="px-2"><b>Sent: </b> {{profile.sent}}</p>
            <p class="px-2"><b>Overdue: </b> {{profile.overdue}}</p>
        </div>
    </div>
</div>